<section class="courses">
	<h2><%= link_to course.name, course %></h2>

  <h3><%= course.address %>
    <%= ",#{course.city}" %>
  </h3>

  <h3>Date & Time</h3>
  <p>
    <strong>Starts At</strong> <%= course.starts_at %>
    <strong>Ends At</strong> <%= course.ends_at %>
  </p>

  <h3>Description</h3>
  <p><%= course.description %></p>

  <div class="rsvp-info">
    <%= render :partial => 'rsvp', locals: { course: course } %>
  </div>


</section>